@font-face {
  font-family: "Muller 400";
  src: url(fonts/muller/MullerRegular.ttf);
}

@font-face {
  font-family: "Muller 500";
  src: url(fonts/muller/MullerMedium.ttf);
}

@font-face {
  font-family: "Montserrat 800";
  src: url(fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat 700";
  src: url(fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat 600";
  src: url(fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat 500";
  src: url(fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat 400";
  src: url(fonts/montserrat/Montserrat-Regular.ttf);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: #fff;
  overflow-x: hidden;
}

.header_nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav_li {
  margin-right: 20px;
  margin-left: 20px;
}

.nav_li a {
  font-family: "Muller 400";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #18191a;
}

.nav_li a:hover {
  text-decoration: none;
  color: #d03333;
}

.phone_link {
  font-family: "Montserrat 600";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #18191a;
  margin-bottom: 9px;
}

.phone_link img {
  margin-right: 3px;
}

.phone_link:hover {
  text-decoration: none;
  color: #d03333;
}

.zayavka_link {
  font-family: "Muller 500";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;

  background: #d03333;
  border: 1px solid #d03333;
  border-radius: 7px;

  padding: 10px 15px 5px;
}

.zayavka_link:hover {
  color: #fff;
}

/* реклама */

.reklama {
  position: relative;
}

.right_reklama img {
  position: absolute;
  right: 0;
  top: 20px;
}

.left_reklama h3 {
  transform: rotate(270deg);
}

.left_reklama {
  margin-top: 194px;
  margin-bottom: 200px;
}

.left_reklama h1 {
  font-family: "Montserrat 400";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 96.9%;
  color: #18191a;
}

.left_reklama h1 span {
  font-family: "Montserrat 700";
  color: #d03333;
}

.main {
  position: relative;
}

.header1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.header2 {
  position: absolute;
  top: 143px;
  left: 0;
  z-index: -1;
}

/* наша */

.nasha {
  position: relative;
}

.krug {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
}

.container_nasha h3 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.07em;

  margin-bottom: 30px;
  text-align: center;

  color: #d03333;

  transform: rotate(0.52deg);
}

.cards_nasha {
  justify-content: space-evenly;
}

.card_nasha {
  padding: 25px;
  border: 1px solid #6e6e6e;
  border-radius: 0px 0px 86px 0px;
  vertical-align: top;
}

.card_nasha h4 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.07em;
  color: #d03333;
  margin-left: 17px;
}

.top_nasha {
  margin-bottom: 14px;
}

.card_nasha p {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #18191a;
}

/* smm  */

.right_smm {
  position: relative;
}

.rocket {
  position: absolute;
  top: -300px;
  right: -180px;
}

.smm {
  background: url(img/bg_smm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1086px;
  margin-top: 61px;
  padding-top: 230px;
  /* padding-bottom: 150px; */
}

.left_smm h4 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: #d03333;

  position: relative;
  z-index: 5;
}

.left_smm ul {
  padding-left: 0;
  margin-top: 70px;
}

.left_smm li {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  list-style: none;
}

.right_smm h5 {
  font-family: "Montserrat 800";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 42px;
  color: #d03333;
  position: relative;
  z-index: 1;
}

.slider {
  border: 1px solid #6e6e6e;
  border-radius: 0px 0px 0px 86px;
  padding: 50px;
  max-width: 680px;
  width: 100%;
}

.container_button {
  margin-top: 60px;
}

.container_button a {
  background: #d03333;
  border-radius: 30px 0px;
  padding: 18px 40px;

  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.pp {
  margin-top: 600px;
}

.first_button {
  margin-right: 40px;
}

.slider_inner h6 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 238.9%;
  color: #ffffff;
  margin-bottom: 17px;
}

.slider_inner p {
  font-family: "Montserrat 400";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.slider {
  position: relative;
}

.slick-arrow {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
}

.slick-next {
  position: absolute;
  right: 46px;
  bottom: 25px;
  background: url(img/right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: cover;
}

.slick-prev {
  position: absolute;
  right: 106px;
  bottom: 25px;
  background: url(img/left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: cover;
}

.right_seo {
  position: relative;
}

.seo {
  position: absolute;
  top: -100px;
  right: -80px;
}

.smm_section {
  position: relative;
}

.bg__smm {
  position: absolute;
  top: 130px;
  left: 0;
  z-index: 0;
}

.one {
  position: absolute;
  top: 425px;
  left: 5%;
}

/* опыт */

.opit {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}

.opit h3 {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #18191a;

  margin-bottom: 33px;
  text-align: center;
}

.pos_opit {
  position: absolute;
  top: 0;
  left: 87px;
  z-index: -1;
}

.timer {
  margin: 0 auto;
  gap: 20px;
}

.timer_ h4 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.085em;
  color: #d03333;
  text-align: center;
}

.timer_ h5 {
  font-family: "Montserrat 400";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  color: #18191a;
  text-align: center;
}

.timer_colon p {
  font-family: "Montserrat 300";
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.085em;
}

/* сайт */

.sayt {
  background: url(img/bg_sayt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 103px;
  padding-bottom: 135px;
  min-height: 1083px;
  margin-top: -70px;
  position: relative;
}

.sayt__bg {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 0;
}

.sayt_number {
  position: absolute;
  top: 400px;
  right: 10%;
}

.right_sayt h4 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #d03333;

  margin-bottom: 150px;
  position: relative;
  z-index: 5;
}

.slider_sayt {
  border: 1px solid #6e6e6e;
  border-radius: 0px 0px 86px 0px;
  padding-bottom: 70px;
}

.left_sayt h5 {
  font-family: "Montserrat 800";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.085em;
  text-align: right;
  margin-bottom: 43px;
  color: #d03333;
}

.left_sayt {
  position: relative;
}

.nout {
  position: absolute;
  top: -200px;
  left: -100px;
}

.right_sayt ul {
  padding-left: 0;
}

.right_sayt li {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;

  list-style: none;
}

.sayt_button {
  margin-top: 87px;
}

.sayt_button a {
  background: #d03333;
  border-radius: 30px 0px;
  padding: 19px 40px;

  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.sayt_button_pos {
  margin-right: 41px;
}

/* полиграфия */

.poligrafia {
  padding-top: 58px;
  padding-bottom: 78px;
  position: relative;
}

.poligrafia_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.poligrafia_line {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
}

.poligrafia h4 {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  color: #18191a;
  margin-bottom: 50px;

  text-align: center;
}

.poligrafia h4::before {
  content: url(img/poligrafia_3.png);
}

.card_pol {
  border: 1px solid #bbbbbb;
  border-radius: 0px 30px;
  padding: 15px;
}

.pol1 {
  position: relative;
  width: 301px;
  height: 232px;
}

.pol1 img {
  position: absolute;
  top: -38px;
  left: -40px;
}

.pol2 {
  position: relative;
  width: 202px;
  height: 231px;
  margin-top: 83px;
}

.pol2 img {
  position: absolute;
  top: -80px;
  right: -15px;
}

.pol3 {
  position: relative;
  width: 198px;
  height: 191px;
  margin-top: 43px;
}

.pol3 img {
  position: absolute;
  top: -40px;
  right: -20px;
}

.pol4 {
  position: relative;
  width: 215px;
  height: 216px;
  margin-top: 83px;
}

.pol4 img {
  position: absolute;
  top: -80px;
  right: -40px;
}

.pol5 {
  position: relative;
  width: 209px;
  height: 257px;
}

.pol5 img {
  position: absolute;
  bottom: -80px;
  left: -80px;
}

.pol6 {
  position: relative;
  width: 202px;
  height: 149px;
}

.pol6 img {
  position: absolute;
  bottom: -100px;
  left: -20px;
}

.pol7 {
  position: relative;
  width: 199px;
  height: 285px;
}

.pol7 img {
  position: absolute;
  bottom: -100px;
}

.pol8 {
  position: relative;
  width: 302px;
  height: 207px;
}

.pol8 img {
  position: absolute;
  bottom: -50px;
  right: -20px;
}

.container_pol {
  position: relative;
}

.pol1 {
  position: absolute;
  top: 0;
  left: 0;
}

.pol2 {
  position: absolute;
  top: 0px;
  left: 342px;
}

.pol3 {
  position: absolute;
  top: 0px;
  right: 350px;
}

.pol4 {
  position: absolute;
  top: 0px;
  right: 90px;
}

.pol5 {
  position: absolute;
  top: 250px;
  left: 90px;
}

.pol6 {
  position: absolute;
  top: 330px;
  left: 342px;
}

.pol7 {
  position: absolute;
  top: 257px;
  right: 350px;
}

.pol8 {
  position: absolute;
  top: 337px;
  right: 0;
}

/* seo */

.right_seo {
  margin-top: 120px;
}

.left_seo {
  margin-top: -100px;
}

.seo_section {
  position: relative;
}

.seo__bg {
  position: absolute;
  top: 162px;
  left: 0;
}

.seo_four {
  position: absolute;
  top: 436px;
  left: 5%;
}

/* стижения */

.dosti h4 {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #000000;
  text-align: center;

  margin-bottom: 72px;
}

.dosti {
  padding-top: 50px;
  padding-bottom: 50px;
}

.right_progress ul {
  margin-bottom: 0;
  list-style: none;
}

/* форма */

.sec_form {
  padding-top: 90px;
  padding-bottom: 90px;
  background: url(img/bg_form.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_form h4 {
  max-width: 1027px;
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 51px;
}

.container_form h4 span {
  color: #ff0000;
}

.form_form {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  border-radius: 9px;
  padding: 60px 40px 80px;
}

.form_form h5 {
  font-family: "Muller 400";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  color: #000000;

  margin-bottom: 27px;
}

.form_form p {
  font-family: "Montserrat 400";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #000000;

  max-width: 272px;
  margin-bottom: 37px;
}

.form_form input {
  background: #f2f2f2;
  border: 1px solid #e7e7e7;
  border-radius: 61px;
  padding: 25px;
  margin-top: 7px;
}

.form_form button {
  background: linear-gradient(
      291.31deg,
      rgba(0, 0, 0, 0.2) 3.27%,
      rgba(0, 0, 0, 0) 66.8%
    ),
    #c43636;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 61px;
  border: none;
  max-width: 353px;
  padding: 27px;
  margin-top: 18px;

  font-family: "Muller 500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.schet h6 {
  font-family: "Montserrat 700";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #18191a;
  margin-bottom: 10px;
  text-align: center;
}

/* нам доверяют */

.doverie {
  background: url(img/bg_portfel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 105px;
  height: 736px;
}

.doverie h5 {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff;
  margin-bottom: 57px;
  text-align: center;
}

.dov_vse {
  background: #d03333;
  border-radius: 30px 0px;

  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  margin-top: 87px;
  padding: 19px 46px;
  display: block;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 87px;
}

.dov_vse:hover {
  /* text-decoration: none; */
  color: #fff;
}

.slider_port {
  padding-left: 40px;
}

.slider_port .slick-arrow {
  display: none !important;
}

/* footer  */

.instagram {
  margin-right: 20px;
  margin-left: 20px;
}

.footer_nav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_header {
  position: relative;
}

.krug {
  position: absolute;
  top: 37px;
  left: 35%;
}

/* портфолио */

.keys {
  background: url(img/sky.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.keys_reklama {
  position: relative;
  margin-top: 120px;
  margin-bottom: 200px;
}

.phone_keys {
  position: absolute;
  top: 350px;
  right: 35%;
}

.book_keys {
  position: absolute;
  top: 400px;
  right: 50%;
}

.zayavka_header {
  position: absolute;
  top: 330px;
  left: 40px;

  background: #d03333;
  border-radius: 30px 0px;
  padding: 20px;

  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.zayavka_header:hover {
  /* text-decoration: none; */
  color: #fff;
}

.port h4 {
  font-family: "Muller 700";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  text-align: center;
  color: #222222;
  margin-bottom: 34px;
}

.zayav {
  display: block;
}

.col-12,
.col-md-6 {
  padding: 0;
}

.card_port img {
  width: 100%;
}

.proekti {
  margin-bottom: 34px;
}

.proekti h5 {
  font-family: "Muller 400";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}

.proekti p {
  background: #d03333;
  border: 1px solid #ff0000;
  border-radius: 124px;
  padding: 20px;

  font-family: "Muller 400";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}

.port a {
  background: #d03333;
  border-radius: 30px 0px;
  padding: 20px;
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: block;

  color: #ffffff;

  max-width: 225px;

  margin: 0 auto;

  text-align: center;
  margin-top: 70px;
}

@media (max-width: 500px) {
  body,
  html {
    overflow-x: hidden;
  }

  .menu {
    overflow: hidden;
  }

  /* бургер */

  .header_nav,
  .mobile_burger {
    overflow: hidden;
  }

  .mobile_burger {
    display: block !important;
  }

  label .menu {
    position: absolute;
    right: -100px;
    top: -80px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #d03333;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #d03333;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    list-style: none;
    z-index: 200;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    padding: 0;
    text-align: center;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: #d03333;
    text-decoration: none;
  }

  .ul_m {
    height: 100vh;
  }

  .phone_m_link {
    background: #d03333;
    border-radius: 25px 0px;

    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 20px;

    color: #ffffff;
  }

  .phone_m_link:hover {
    color: #fff;
  }

  /* навигация */

  .container_nav ul {
    display: none !important;
  }

  .call {
    display: none !important;
  }

  /*наша реклама */

  .book_keys {
    display: none;
  }

  .phone_keys {
    display: none;
  }

  .container_reklama {
    display: none !important;
  }

  .mobile_reklama {
    display: block !important;
  }

  .mobile_reklama h3 {
    font-family: "Montserrat 400";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #18191a;
    padding-top: 67px;
  }

  .mobile_reklama h2 {
    font-family: "Montserrat 400";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 96.9%;
    color: #18191a;
    margin-top: 7px;
  }

  .mobile_reklama h2 span {
    font-family: "Montserrat 700";
    color: #d03333;
  }

  .mobile_reklama img {
    margin-top: 38px;
    margin: 0 auto;
  }

  .header1 {
    display: none;
  }

  .port h4 {
    font-family: "Muller 700";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #222222;
    margin-bottom: 34px;
  }

  .proekti {
    flex-direction: column;
    gap: 15px;
  }

  .footer_nav {
    padding-top: 0px;
  }

  .container_footer {
    flex-direction: column;
  }

  .top_footer {
    text-align: center;
    list-style: none;
  }

  .nav_li_footer a {
    font-family: "Montserrat 400";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    display: block;
    margin-top: 20px;
    color: #18191a;
  }

  .mobile_footer,
  .top_footer,
  .bottom_m {
    gap: 20px;
  }

  .bottom_footer {
    text-align: center;
  }

  .phone_m_link_footer {
    display: block;
    background: #d03333;
    border-radius: 25px 0px;

    padding: 14px 25px;

    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    margin-bottom: 20px;
  }

  .phone_m_link_footer:hover{
    color: #fff;
  }

  /* наша цель */

  .card_nasha {
    padding: 25px;
    border: none;
    vertical-align: top;
  }

  .krug {
    display: none;
  }

  .cards_nasha {
    justify-content: center;
    align-items: center;
  }

  .card_nasha {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .top_nasha {
    justify-content: center;
  }

  .card_nasha h4 {
    font-family: "Montserrat 700";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.07em;
    color: #d03333;
    margin-left: 17px;
  }

  .card_nasha p {
    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #18191a;
  }

  /* smm */

  .slider_inner h6 {
    font-size: 20px;
    line-height: 150%;
  }

  .slider_inner p {
    font-size: 18px;
    line-height: 25px;
  }

  .smm {
    padding-top: 200px;
    overflow: hidden;
  }

  .left_smm h4 {
    font-family: "Montserrat 700";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #d03333;
    position: relative;
    z-index: 5;
  }

  .rocket {
    display: none;
  }

  .slick-list {
    width: 100%;
  }

  .right_smm,
  .left_sayt {
    width: 100%;
  }

  .slider {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .left_smm li {
    font-family: "Montserrat 400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    list-style: none;
  }

  .container_button,
  .sayt_button {
    justify-content: center !important;
  }

  .first_button,
  .sayt_button_pos {
    margin: 0 auto;
  }

  .smm_section {
    padding-bottom: 50px;
  }

  .container_button a,
  .sayt_button a {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .one {
    display: none;
  }

  /* опыт */

  .opit {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .pos_opit {
    display: none;
  }

  .opit h3 {
    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #18191a;
    margin-bottom: 33px;
    text-align: center;
  }

  .timer_ {
    display: block;
  }

  .timer_colon {
    display: none;
  }

  .timer {
    flex-direction: column;
  }

  .timer_ h4 {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0.05em;
  }

  .timer_ h5 {
    font-size: 16px;
    line-height: 20px;
  }

  /* сайты */

  .nout {
    display: none;
  }

  .left_sayt {
    order: 2;
  }

  .right_sayt {
    order: 1;
  }

  .sayt__bg {
    display: none;
  }

  .sayt_number {
    display: none;
  }

  .right_sayt h4 {
    font-family: "Montserrat 700";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #d03333;
    margin-bottom: 51px;
    position: relative;
    z-index: 5;
  }

  .left_sayt h5 {
    font-family: "Montserrat 800";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.085em;
    text-align: left;
    margin-bottom: 43px;
    color: #d03333;
  }

  /* полиграфия */

  .mobile_poligrafiya {
    display: block !important;
  }

  .slider_m_polygrafiya button {
    display: none !important;
  }

  .slider_m h5 {
    text-align: center;

    font-family: "Montserrat 400";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 238.9%;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #18191a;
  }

  .slider_m img {
    margin: 0 auto;
  }

  .poligrafia_line {
    display: none;
  }

  .container_pol {
    display: none !important;
  }

  .poligrafia_bg {
    display: none;
  }

  .poligrafia h4 {
    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #18191a;
    margin-bottom: 19px;
    text-align: center;
  }

  .poligrafia {
    padding-bottom: 20px;
  }

  .qq {
    background: #d03333;
    border-radius: 25px 0px;

    font-family: "Montserrat 500";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 30px;
    display: block;

    max-width: 170px;

    margin: 0 auto;
    margin-top: 50px;

    color: #ffffff;
  }

  /* seo */

  .seo_section {
    margin-top: 0;
    padding-top: 330px;
    padding-bottom: 50px;
  }

  .seo {
    display: none;
  }

  /* форма */

  .container_form h4 {
    max-width: 1027px;
    font-family: "Montserrat 700";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    margin-bottom: 51px;
  }

  .form_form h5 {
    font-family: "Muller 400";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
  }

  .form_form {
    order: 2;
  }

  .schet {
    order: 1;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
  }

  .schet h6 {
    font-family: "Montserrat 700";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #18191a;
    margin-bottom: 10px;
    text-align: center;
  }

  /* слайдер */

  .slider_port {
    padding-left: 0px;
  }

  .slide_inner img {
    display: block;
    margin: 0 auto;
  }

  /* footer  */

  .container_footer {
    justify-content: center !important;
  }
}
